# Global attributes for forcing line endings normalization of specific files

* text=auto

# Markdown documents
*.md text eol=crlf encoding=utf-8

# Text documents
*.txt text eol=crlf encoding=utf-8

# Git configs
.gitattributes text eol=lf encoding=utf-8
.gitignore text eol=lf encoding=utf-8
